.navContainer{
    display: flex;
    background-color:black;
    justify-content: space-between;
}

.navImg{
    width: 100px;
    height: auto;
    padding: 20px;
}

.navUlList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
.liNav{
    color: white;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: inline-block;
}
